<form #userForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="name">Имя</label>
        <input type="text" id="name" class="form-control" name="name" placeholder="Имя" required minlength="4"
            maxlength="10" [(ngModel)]="model.name" #name="ngModel">
        <div class="alert alert-danger" *ngIf="formErrors.name">
            {{formErrors.name}}
        </div>
    </div>


    <div class="mb-3">
        <label for="age">Возраст</label>
        <input type="number" id="age" class="form-control" name="age" placeholder="Возраст" required
            [(ngModel)]="model.age" #age="ngModel">
        <div class="alert alert-danger" *ngIf="formErrors.age">
            {{formErrors.age}}
        </div>
    </div>

    <div class="mb-3">
        <label for="role">Роль</label>
        <select name="role" id="role" class="form-select" required [(ngModel)]="model.role">
            <option selected disabled value="">Выберите роль </option>
            <option *ngFor="let role of roles" [value]="role">{{role}}</option>
        </select>
    </div>

    <div class="mb-3">
        <button [disabled]="userForm.form.invalid" class="btn btn-info">Сохранить</button>
    </div>
</form>

<hr class="mt-4">