<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
    <div class="mb-3">
        <label for="name">{{labels.name}}: <span class="text-danger">*</span> </label>
        <input type="text" id="name" class="form-control" placeholder="{{placeholders.name}}" formControlName="name"
            (blur)="onValueChanged()" [ngClass]="{'is-valid': name.valid,'is-invalid': name.invalid && name.touched}">
        <div *ngIf="name.valid" class="valid-feedback">{{success.name}}</div>
        <div *ngIf="name.invalid && name.touched" class="invalid-feedback">{{errors.name}}</div>
    </div>

    <div class="mb-3">
        <label for="password">{{labels.password}}:<span class="text-danger">*</span></label>
        <input type="password" id="password" class="form-control" placeholder="{{placeholders.password}}"
            formControlName="password" (blur)="onValueChanged()"
            [ngClass]="{'is-valid': password.valid,'is-invalid': password.invalid && password.touched}">
        <div *ngIf="password.valid" class="valid-feedback">{{success.password}}</div>
        <div *ngIf="password.invalid && password.touched" class="invalid-feedback">{{errors.password}}</div>
    </div>

    <div class="mb-3">
        <label for="email">{{labels.email}}:<span class="text-danger">*</span></label>
        <input type="text" id="email" class="form-control" placeholder="{{placeholders.email}}" formControlName="email"
            (blur)="onValueChanged()"
            [ngClass]="{'is-valid': email.valid,'is-invalid': email.invalid && email.touched}">
        <div *ngIf="email.valid" class="valid-feedback">{{success.email}}</div>
        <div *ngIf="email.invalid && email.touched" class="invalid-feedback">{{errors.email}}</div>
    </div>

    <div class="mb-3">
        <label for="age">{{labels.age}}:<span class="text-danger">*</span></label>
        <input type="number" id="age" class="form-control" placeholder="{{placeholders.age}}" formControlName="age"
            (blur)="onValueChanged()" [ngClass]="{'is-valid': age.valid,'is-invalid': age.invalid && age.touched}">
        <div *ngIf="age.valid" class="valid-feedback">{{success.age}}</div>
        <div *ngIf="age.invalid && age.touched" class="invalid-feedback">{{errors.age}}</div>
    </div>

    <div class="mb-3">
        <label for="role">{{labels.role}}:<span class="text-danger">*</span></label>
        <select name="role" id="role" class="form-select" formControlName="role" (blur)="onValueChanged()"
            [ngClass]="{'is-valid': role.valid,'is-invalid': role.invalid && role.touched}">
            <option selected disabled [value]="null">{{placeholders.role}} </option>
            <option *ngFor="let role of roles" [value]="role">{{role}}</option>
        </select>
        <div *ngIf="role.valid" class="valid-feedback">{{success.role}}</div>
        <div *ngIf="role.invalid && role.touched" class="invalid-feedback">{{errors.role}}</div>
    </div>

    <div class="mb-3">
        <button type="submit" [disabled]="userForm.invalid" class="btn btn-info">Сохранить</button>
    </div>
</form>

<hr class="mt-4">